@import '~office-ui-fabric-react/dist/sass/References.scss';


.vikingTrainingSimulator {
  background-color: #07222b;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  .loadingSpinner {
    margin: 4rem 50%;
  }

  .infoView {
    display: flex;
    flex-direction: column;
    width: 35%;

    >div {
      margin: 15px 0;
    }

    .selectedUnit {
      @include ms-font-l;

      >h3 {
        @include ms-font-xxl;
      }

      >button {
        margin: 10px 0;
      }

      .levelContainer {
        @include ms-font-xl;
        margin: 15px 0;
        position: relative;

        .level {
          position: absolute;
          top: 0;
          left: 75px;
          font-weight: 400;

          &:focus {
            outline: none;
            animation: pop 0.3s cubic-bezier(0.4, 0, 1, 1) 1;
          }
        }
      }

      .unitStats {
        margin: 3px 0;

        @keyframes pop {
          50% {
            transform: scale(3);
          }
        }

        .progressbarContainer {
          border: 1px solid #ddd;
          padding: 1px;
          max-width: 225px;

          .progressbarProgress {
            margin: 0;
          }
        }

      }
    }

    .kingInfo {
      @include ms-font-xl;
      display: flex;
      justify-content: space-between;
    }

    .button {
      background-color: #1ab188;

      &:hover {
        background-color: #1ab188;
      }
    }

  }

}

.rankUpModal {
  @include ms-font-xl;
  width: 50vh;
  height: 14vh;
  padding: 100px;
  overflow: hidden;

  .unitName {
    @include ms-font-xxl;
    text-align: center;
  }

  .ranks {
    position: relative;

    .unitRank {
      @include ms-font-xxl;
      margin: 20px 0;
      text-align: center;
      position: absolute;
      left: 44%;
      top: 50px;

      -webkit-transition: 2s ease-in;
      -moz-transition: 2s ease-in;
      -o-transition: 2s ease-in;
      transition: 2s ease-in;
      animation-name: rocketIn;
      animation-duration: 4s;
      animation-iteration-count: 1;
      animation-direction: normal;

    }

    .oldRank {
      @include ms-font-xxl;
      margin: 20px 0;
      text-align: center;
      position: absolute;
      left: 44%;
      top: 50px;

      -webkit-transition: 2s ease-out;
      -moz-transition: 2s ease-out;
      -o-transition: 2s ease-out;
      transition: 2s ease-out;
      animation-name: rocketOut;
      animation-duration: 2s;
      animation-delay: 2s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

    @keyframes rocketIn {
      from {
        transform: translate(-500px);
      }

      to {
        transform: translate(0px, 0);
      }
    }

    @keyframes rocketOut {
      from {
        transform: translate(0px, 0);
      }

      to {
        transform: translate(500px);
      }
    }

  }
}
